// Colors
$main-color: #66c3ff;
$main-color-alt: #d7bce8;
$accent-color: #121217;
$accent-color-alt: #0b2d50;
$background-color: #0d0d11;
$text-color: #ffffff;
$white-color: #ffffff;

// UI
$main-transition: 0.4s;
$main-line-height: 1.4;

// Fonts
$headings-font: "Cairo", sans-serif;
$paragraph-font: "Raleway", sans-serif;
